@using QLVN_Contracts.Dtos.Theme
@using QLVN_Blazor.Services
@inject ThemeState ThemeState
@inject IJSRuntime JS
@inject HttpClient Http

<div id="styleSelector">

    <!-- Toggle -->
    <div class="selector-toggle">
        <a href="javascript:void(0)"></a>
    </div>

    <!-- Header -->
    <ul>
        <li>
            <p class="selector-title main-title st-main-title">
                <b>Adminty</b> Customizer
            </p>
            <span class="text-muted">
                Live customizer with tons of options
            </span>
        </li>

        <li>
            <p class="selector-title">Main layouts</p>
        </li>

        <li>
            <div class="theme-color">
                <a href="#" class="navbar-theme" navbar-theme="themelight1">
                    <span class="head"></span>
                    <span class="cont"></span>
                </a>
                <a href="#" class="navbar-theme" navbar-theme="theme1">
                    <span class="head"></span>
                    <span class="cont"></span>
                </a>
            </div>
        </li>
    </ul>

    <!-- Content -->
    <div class="style-cont m-t-10">

        <!-- Tabs -->
        <ul class="nav nav-tabs tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#sel-layout">
                    Layouts
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#sel-sidebar-setting">
                    Sidebar Settings
                </a>
            </li>
        </ul>

        <div class="tab-content tabs">

            <!-- Layout Tab -->
            <div class="tab-pane active" id="sel-layout">
                <ul>
                    <li class="theme-option">
                        <div class="checkbox-fade fade-in-primary">
                            <label>
                                <input type="checkbox"
                                       @bind="FixedSidebar"
                                       @bind:after="OnFixedSidebarChanged" />




                                <span class="cr">
                                    <i class="cr-icon feather icon-check txt-success f-w-600"></i>
                                </span>
                                <span>Fixed Sidebar Position</span>
                            </label>
                        </div>
                    </li>

                    <li class="theme-option">
                        <div class="checkbox-fade fade-in-primary">
                            <label>
                                <input type="checkbox" id="header-position" checked>
                                <span class="cr">
                                    <i class="cr-icon feather icon-check txt-success f-w-600"></i>
                                </span>
                                <span>Fixed Header Position</span>
                            </label>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Sidebar Settings Tab -->
            <div class="tab-pane" id="sel-sidebar-setting">
                <ul>

                    <!-- Menu Type -->
                    <li class="theme-option">
                        <p class="sub-title drp-title">Menu Type</p>
                        <div class="form-radio" id="menu-effect">
                            <div class="radio radio-inverse radio-inline">
                                <label>
                                    <input type="radio"
                                           name="menuType"
                                           value="st6"
                                           checked="@(MenuType == "st6")"
                                           @onchange="OnMenuTypeChanged" />
                                    <span>Simple Icon</span>
                                    <i class="helper"></i>
                                    <span class="micon st6">
                                        <i class="feather icon-command"></i>
                                    </span>
                                </label>
                            </div>

                            <div class="radio radio-primary radio-inline">
                                <label>
                                    <input type="radio"
                                           name="menuType"
                                           value="st5"
                                           checked="@(MenuType == "st5")"
                                           @onchange="OnMenuTypeChanged" />
                                    <span>Color Icon</span>
                                    <i class="helper"></i>
                                    <span class="micon st5">
                                        <i class="feather icon-command"></i>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </li>

                    <!-- Sidebar Effect -->
                    <li class="theme-option">
                        <p class="sub-title drp-title">SideBar Effect</p>
                        <select id="vertical-menu-effect" class="form-control minimal">
                            <option value="shrink">Shrink</option>
                            <option value="overlay">Overlay</option>
                            <option value="push">Push</option>
                        </select>
                    </li>

                    <!-- Border -->
                    <li class="theme-option">
                        <p class="sub-title drp-title">Hide/Show Border</p>
                        <select id="vertical-border-style" class="form-control minimal">
                            <option value="solid">Style 1</option>
                            <option value="dotted">Style 2</option>
                            <option value="dashed">Style 3</option>
                            <option value="none">No Border</option>
                        </select>
                    </li>

                    <!-- Dropdown Icon -->
                    <li class="theme-option">
                        <p class="sub-title drp-title">Drop-Down Icon</p>
                        <select id="vertical-dropdown-icon" class="form-control minimal">
                            <option value="style1">Style 1</option>
                            <option value="style2">Style 2</option>
                            <option value="style3">Style 3</option>
                        </select>
                    </li>

                    <!-- Submenu Icon -->
                    <li class="theme-option">
                        <p class="sub-title drp-title">Sub Menu Drop-down Icon</p>
                        <select id="vertical-subitem-icon" class="form-control minimal">
                            <option value="style1">Style 1</option>
                            <option value="style2">Style 2</option>
                            <option value="style3">Style 3</option>
                            <option value="style4">Style 4</option>
                            <option value="style5">Style 5</option>
                            <option value="style6">Style 6</option>
                        </select>
                    </li>

                </ul>
            </div>

            <!-- Colors -->
            <ul>

                <li>
                    <p class="selector-title">Header Brand color</p>
                </li>
                <li class="theme-option">
                    <div class="theme-color">
                        <a href="#" class="logo-theme" logo-theme="theme1"><span class="head"></span><span class="cont"></span></a>
                        <a href="#" class="logo-theme" logo-theme="theme2"><span class="head"></span><span class="cont"></span></a>
                        <a href="#" class="logo-theme" logo-theme="theme3"><span class="head"></span><span class="cont"></span></a>
                        <a href="#" class="logo-theme" logo-theme="theme4"><span class="head"></span><span class="cont"></span></a>
                        <a href="#" class="logo-theme" logo-theme="theme5"><span class="head"></span><span class="cont"></span></a>
                    </div>
                </li>

                <li>
                    <p class="selector-title">Header color</p>
                </li>
                <li class="theme-option">
                    <div class="theme-color">
                        <a href="#" class="header-theme" header-theme="theme1"><span class="head"></span><span class="cont"></span></a>
                        <a href="#" class="header-theme" header-theme="theme2"><span class="head"></span><span class="cont"></span></a>
                        <a href="#" class="header-theme" header-theme="theme3"><span class="head"></span><span class="cont"></span></a>
                        <a href="#" class="header-theme" header-theme="theme4"><span class="head"></span><span class="cont"></span></a>
                        <a href="#" class="header-theme" header-theme="theme5"><span class="head"></span><span class="cont"></span></a>
                        <a href="#" class="header-theme" header-theme="theme6"><span class="head"></span><span class="cont"></span></a>
                    </div>
                </li>

                <li>
                    <p class="selector-title">Active link color</p>
                </li>
                <li class="theme-option">
                    <div class="theme-color">
                        <a href="#" class="active-item-theme small" active-item-theme="theme1">&nbsp;</a>
                        <a href="#" class="active-item-theme small" active-item-theme="theme2">&nbsp;</a>
                        <a href="#" class="active-item-theme small" active-item-theme="theme3">&nbsp;</a>
                        <a href="#" class="active-item-theme small" active-item-theme="theme4">&nbsp;</a>
                        <a href="#" class="active-item-theme small" active-item-theme="theme5">&nbsp;</a>
                        <a href="#" class="active-item-theme small" active-item-theme="theme6">&nbsp;</a>
                        <a href="#" class="active-item-theme small" active-item-theme="theme7">&nbsp;</a>
                        <a href="#" class="active-item-theme small" active-item-theme="theme8">&nbsp;</a>
                        <a href="#" class="active-item-theme small" active-item-theme="theme9">&nbsp;</a>
                        <a href="#" class="active-item-theme small" active-item-theme="theme10">&nbsp;</a>
                        <a href="#" class="active-item-theme small" active-item-theme="theme11">&nbsp;</a>
                        <a href="#" class="active-item-theme small" active-item-theme="theme12">&nbsp;</a>
                    </div>
                </li>

                <li>
                    <p class="selector-title">Menu Caption Color</p>
                </li>
                <li class="theme-option">
                    <div class="theme-color">
                        <a href="#" class="leftheader-theme small" lheader-theme="theme1">&nbsp;</a>
                        <a href="#" class="leftheader-theme small" lheader-theme="theme2">&nbsp;</a>
                        <a href="#" class="leftheader-theme small" lheader-theme="theme3">&nbsp;</a>
                        <a href="#" class="leftheader-theme small" lheader-theme="theme4">&nbsp;</a>
                        <a href="#" class="leftheader-theme small" lheader-theme="theme5">&nbsp;</a>
                        <a href="#" class="leftheader-theme small" lheader-theme="theme6">&nbsp;</a>
                    </div>
                </li>

            </ul>

        </div>
    </div>

    <!-- Footer -->
    <ul>
        <li>
            <a href="http://html.codedthemes.com/Adminty/doc"
               target="_blank"
               class="btn btn-primary btn-block m-r-15 m-t-5 m-b-10">
                Online Documentation
            </a>
        </li>

        <li class="text-center">
            <span class="f-18 d-block m-t-15 m-b-15">
                Thank you for sharing !
            </span>
            <a href="#!" class="btn btn-facebook soc-icon m-b-20">
                <i class="feather icon-facebook"></i>
            </a>
            <a href="#!" class="btn btn-twitter soc-icon m-l-20 m-b-20">
                <i class="feather icon-twitter"></i>
            </a>
        </li>
    </ul>

</div>


@code {
    bool FixedSidebar = true;
    string MenuType = "st6";

    async Task OnMenuTypeChanged(ChangeEventArgs e)
    {
        MenuType = e.Value?.ToString() ?? "st6";

        await JS.InvokeVoidAsync(
            "themeInterop.setMenuType",
            MenuType
        );
    }


    async Task OnFixedSidebarChanged()
    {
        await JS.InvokeVoidAsync(
            "themeInterop.setSidebarFixed",
            FixedSidebar
        );
    }

    
}