@inherits LayoutComponentBase
@inject IJSRuntime JS
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <TopBar />
        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <NavMenu />
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <div class="page-body">
                                    @Body
                                </div>

                                
                               
                              
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>

        </div>
    </div>
    <SettingTheme />
</div>

