@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Web
@inject IJSRuntime JS
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <TopBar />
        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <NavMenu />
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <div class="page-body">
                                    @Body
                                </div>

                                
                               
                              
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>

        </div>
    </div>
    <SettingTheme />
</div>

@code {
    // private bool isLoaderHidden = false;

    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     if (!isLoaderHidden)
    //     {
    //         try
    //         {
    //             await Task.Delay(500);
    //             await JS.InvokeVoidAsync("adminAssetManager.hideLoader");
    //             await JS.InvokeVoidAsync("eval", "$('.theme-loader').fadeOut('slow').addClass('d-none');");
    //             isLoaderHidden = true;
    //         }
    //         catch (Exception ex)
    //         {
    //             Console.WriteLine($"Error hiding loader: {ex.Message}");
    //             await JS.InvokeVoidAsync("eval", "$('.theme-loader').hide();");
    //         }
    //     }
    // }
}