/* Ẩn thanh scroll cho Chrome, Safari, Edge mới */
.nav-scrollable::-webkit-scrollbar {
    display: none;
}

.nav-scrollable {
    height: calc(100vh - 70px); /* Trừ đi chiều cao Header*/
    overflow-y: auto; /* Cho phép scroll dọc */
    /* Ẩn thanh scroll cho Firefox */
    scrollbar-width: none;
    /* Ẩn thanh scroll cho IE/Edge cũ */
    -ms-overflow-style: none;
}

