body {
}


/*     Phần content scroll */
    #styleSelector .style-cont {
        height: calc(100vh - 440px);  
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 6px;
    }
